[Unit]
Description= displays members of uek109
After=network.target

[Service]
Environment=DB_USER="USER" 
Environment=DB_PASS="PW"
Environment=DB_HOST="RDSENDPOINT" 
Environment=DB_PORT=5432 
Environment=DB_DATABASE=uek109
Type=simple
ExecStart=/usr/bin/node /home/ubuntu/uek109-rds-frontend-direct/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
